enable-pre-post-scripts=true
public-hoist-pattern[]=*@firebase/util*
public-hoist-pattern[]=*@tailwindcss/oxide*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*protobufjs*
public-hoist-pattern[]=*sharp*
shamefully-hoist=true 